{% extends 'base.html.twig' %}
{% block title %}Panel Administratora{% endblock %}

{% block body %}
<div id = "container">
<div class = "napis">
<h1 class="formularzNapis">Panel Administratora</h1>
<hr>
</div>
<div id ="tabelaDiv">
    <table class="tabela">
        <thead>
            <tr>
                <th>ID</th>
                <th>Temat</th>
                <th>Treść</th>
                <th>Usuń</th>
                <th>Podgląd</th>
                
            </tr>
        </thead>

        <tbody>
        {% set i = 0 %}
         {% for wynik in wyniki %}
            <tr>

                <td>{{ wynik.id }}</td>
                <td>{{ wynik.title }}</td>
                {% if(wynik.content|length  > 8) %}
                <td>{{ wynik.content[0:8] }}...</td>
                {% else %} 
                <td>{{ wynik.content }}</td>
                {% endif %}
                <td><a href="{{ path('panelDel',{'id':wynik.id})}}" class= "klik" >Klik</a></td>
                {% set i = i+1 %}
                <td><a  class = "wyswietlanie"href="{{ path('panelShowNote',{'id':wynik.id})}}">Wyświetl</a></td>
                <td>{% if(wynik.vision==1) %}
                Widziane
                {% else %}
                {% endif %}
                </td>
            {% endfor %}
            
        </tbody>
    </table>
    <h2><a href=" {{ path('homepage') }}" class="back">Powrót</a></h2>
</div>

</div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/control.css') }}"/>
{% endblock %}
