{% extends 'base.html.twig' %}
{% block title %}Formularz zgłoszeniowy{% endblock %}

{% block body %}
<div id="formularz">

<h1 id="formularzNapis">Formularz zgłoszeniowy</h1>
<div id="formMessage">
 {% for message in app.flashes('success') %}
 <div id="succes">
    {{ message }}
    </div>
    {% endfor %}
    
{% for message in app.flashes('error') %}
<div id="error">
    {{ message }}
    </div>
{% endfor %}
</div>
{{ form_start(formularz, { 'attr': {'class': 'formSymfony'}} ) }}

    <strong>Tytył</strong>
    <br>
    {{ form_widget(formularz.title,{ 'attr': {'class': 'tytul'}}) }}
    <br>

    <strong>Treść</strong>
    <br>
    {{ form_widget(formularz.content) }}
    <br>
    <div id="wyborPliku">
    <p>Limit wielkości pojedynczego pliku wynosi 1MB.</p>
     <p>Dopuszczalne formaty plików to pdf, doc, rtf, xls, ods, odt, jpg, jpeg, png.</p>
    </div>
    {{ form_widget(formularz.file, { 'attr': {'class': 'wyborPlikuPrzycisk','accept':'.pdf, .doc, .rtf, .xls, .ods, .odt, .jpg , .png, .jpeg'}}) }}
    <br>
    <input type="submit" value="Wyślij" id="przyciskWyslij">
     <h3><a href=" {{ path('homepage') }}" class="back">Powrót</a></h3>
{{ form_end(formularz) }}

</div>
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/form.css') }}"/>
{% endblock %}
