{% extends 'base.html.twig' %}
{% block title %}Formularz zgłoszeniowy{% endblock %}

{% block body %}
<div id="formularz">

<h1 id="formularzNapis">Formularz zgłoszeniowy</h1>
<div id="formMessage">
 {% for message in app.flashes('success') %}
 <div id="succes">
    {{ message }}
    </div>
    {% endfor %}
    
{% for message in app.flashes('error') %}
<div id="error">
    {{ message }}
    </div>
{% endfor %}
</div>
{{ form_start(formularz, { 'attr': {'class': 'formSymfony'}} ) }}

    {{ form_label(formularz.title) }}
    <br>
    {{ form_widget(formularz.title,{ 'attr': {'class': 'tytul'}}) }}
    <br>

    {{ form_label(formularz.content) }}
    <br>
    {{ form_widget(formularz.content) }}
    <br>
    <div id="wyborPliku">
    <p>Limit wielkości pojedynczego pliku wynosi 1MB.</p>
     <p>Dopuszczalne formaty plików to pdf, doc, rtf, xls, ods, odt, jpg, jpeg, png.</p>
    </div>
    {{ form_widget(formularz.file, { 'attr': {'class': 'wyborPlikuPrzycisk','accept':'.pdf, .doc, .rtf, .xls, .ods, .odt, .jpg , .png, .jpeg'}}) }}
    <br>
    <input type="submit" value="Wyślij" id="przyciskWyslij">
     <h3><a href=" {{ path('homepage') }}" class="back">Powrót</a></h3>
{{ form_end(formularz) }}

</div>

{% endblock %}

{% block stylesheets %}
<style>
    html {height:100%;}
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; height:100%;margin-left:15%;margin-right:15%} 
    h2 { font-size: 15px;text-align: left; margin-left: 10%;}
    #wyborPliku{ border-radius:5px; background-color:hsla(0, 100%, 90%, 0.3);font-size: 13px;
    text-align:left; padding: 2%;margin-top: 1%;;}
    .back{color: #b14949;}
    #formularzNapis {letter-spacing: 5px;text-align: center;}
    #formularz { height:100%;}
    #form { text-align:center; height:100%;}  
    .formSymfony{height:70%;} 
    .error{background-color:rgba(255, 0, 0, 0.4);    padding: 1%; border-radius: 5px;}
    .wyborPlikuPrzycisk{margin-top:2%;margin-bottom:2%;}
    .tytul {padding: 0; width:100%;border-radius:5px;border:1px solid black;height: 8%;font-size: 17px;}
    .tresc { padding: 0;width:100%; height:40%; resize: none; border-radius:5px;height:30% ;border:1px solid black;font-size: 17px;}
    #przyciskWyslij {  background-color: #4CAF50;border: none; color: white; 
    padding: 16px 32px;text-decoration: none; margin: 4px 2px;cursor: pointer; }
    #succes{ text-align:center;background-color:rgba(30, 94, 15, 0.47);border-radius:5px;padding:1%;}
     #error{ text-align:center;background-color:hsla(0, 100%, 30%, 0.3);;border-radius:5px;padding:1%;}
    }
</style>
{% endblock %}
