{% extends 'base.html.twig' %}
{% block title %}Zgłoszenia{% endblock %}

{% block body %}
<div id = "container">
<h2>Tytuł : {{ zgloszenia.title }}</h2>
<h2>Treść : {{ zgloszenia.content }}</h2>
<h2> Pliki : {% if (zgloszenia.plik1 ==" ") %}
                <td>
                Brak
                </td>    
                {% else %}          
                <td> <ul>
                <li>{{ zgloszenia.plik1 }}</li>
                <li>{{ zgloszenia.plik2 }}</li>
                <li>{{ zgloszenia.plik3 }}</li>
                </ul></td>
                {% endif %}
</h2>
<h2><a href=" {{ path('panel') }}" class="back">Powrót</a></h2>
</div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/control.css') }}"/>
{% endblock %}
